.control {
  padding-top:100px;
}
.gender {
  display:inline-block;
}
.progress {
  overflow: hidden;
  height: 20px;
  width:50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.brain {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:45px;
  border-radius:50% 50% 50% 50%;  
}
.homepageimage {
  height:154px;
}
.card-wrapper {
  display:inline-block;
}
.tier {
  width:150px;
  height:150px;
  border: 2px solid white;
}
html, body {
  height: 100%;
  font-family: "Helvetica", serif;
  line-height: 1.8em;
  color: #333;
  /*background: white url("/static/polls/css/images/pear.png") no-repeat center;*/
}
.navbar {
  height:10px;
}
.signup {
  color:$orange;
}
h1, h2, h3, h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.btn-outline {
background-color: transparent !important;
}
.btn-default {
  border-color: black;
}
.btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  &:hover {
    background: $orange; 
    color: white; 
    cursor: pointer;
  }
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -90px;
}

#loader {
  display: none;
  top: 50%;
  left: 50%;
  text-align:center;
  padding:20px;
  margin: 0 auto;
  z-index:2;
  overflow: auto; 
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 90px;
}
#footer {
  background-color: #000;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

li a {
    color: green;
}

.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


#items {}

#items .element-item {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 4px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px 30px;
    text-shadow: 0 1px 0 #DDDDDD;
    width: 260px;
    margin: 10px;
    float: left;
    position: relative;
    transition: background 0.5s;
    cursor: pointer;
}

#items .element-item:hover {
  background: #fafafa;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#items .element-item .merchant {
  font-weight: bold;
}

#items .item-content .meta {
  white-space: nowrap;
}

#items .item-content .total::before {
}

#items .editNav {
  display: block;
  height: 43px;
  width: 43px;
  position: absolute;
  top: -3px;
  right: -3px;
  background: white;
  overflow: hidden;
}

#items .editNav .border {
  top: 3px;
  left: 0;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#items .editNav .inner {
  transform: rotate(-45deg);
  display: block;
  height: 60px;
  width: 60px;
  border: 1px solid #ccc;
  background: #ddd;
  position: absolute;
  top: 15px;
  left: -30px;
}

#items .item .picture .description {
    margin-top: 10px;
}

#items .item .meta {
    font-size: 12px !important;
    line-height: 16px !important;
    margin-right: 5px;
}

#items .item .picture {
    display: block;
    position: relative;
    z-index: 5;
    border-top: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
}

#items .item .picture a.image {
    display: block;
    height: auto;
    width: 100%;
}

#items .item .picture {
    border-radius: 2px 2px 0px 0px;
    height: auto;
    position: relative;
    width: 100%;
    z-index: -1;
}

.picture img {
    height: auto;
    width: 100%;
}

/* DROPDOWN SUBMENU */
.submenu-show
{
    border-radius: 3px;
    display: block;
    left: 100%;
    margin-top: -25px !important;
    moz-border-radius: 3px;
    position: absolute;
    webkit-border-radius: 3px;
}
.submenu-hide
{
    display: none !important;
    float: right;
    position: relative;
    top: auto;
}

.navbar .submenu-show:before
{
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 0px;
}

        
.navbar .submenu-show:after
{
    border-bottom: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-top: 6px solid transparent;
    left: 10px;
    left: -6px;
    top: 0px;
}

#corkEditNav .glyphicon-remove .glyphicon-ok {
  font-size: 20px;
  margin-left: 225px;
/*  text-shadow: 2px 2px 0 #F5FF05;
*/}

#userEditOptions {
  margin-top: 20px;
  float: right;
}

.dropdown.options {
  position: absolute;
  display: none;
}

/*#userEditNav .glyphicon-remove:hover {
  font-size: 20px;
  margin-left: 225px;
  /*text-shadow: 1px 1px 0 #05FFE1;*/

#logo {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.91);
  margin-bottom: 0;
}

a:link {
  color: #00A388;
}
a:hover {
  color: #79BD8F;
}

.modal #fakeReceipt {
  background-color: #EFEFEF;
width: 224px;
height: 214px;
margin-left: 18px;
margin-bottom: -12px;
box-shadow: 3px 3px 5px #aaa;
font-family: monospace;
padding-left: 20px;
}
.modal #merchant {
  padding-top: 5px;
  font-weight: 700;
}

.modal #date {
  font-size: 12px;
margin-left: -3px;

}

.modal #address {
  font-size: 11px;
  line-height: 10px;
  padding-left: inherit;

}

.modal #itemized {
  font-size: 13px;
  line-height: 10px;
  padding-left: inherit;

}

#recommendations {
  padding-top: 15px;
}

.settings-container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
