<!-- I am a banner  --><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ami</title>    
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
        <script src="js/jquery.dropotron.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/jquery.scrollgress.min.js"></script>
    <link href="./css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="./css/bootstrap-theme.css.map" type="text/css" rel="stylesheet">
    <link href="./css/style-receipt.css" rel="stylesheet" type="text/css"  />
    <link href="./css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/theme-responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrap">
        <!-- NAVBAR -->
        <header id="header" class="skel-layers-fixed">
                <h1 id="logo"><a href="index.html"><img src="images/ami2-03-07.png" style="width: 57px"></span></a></h1>
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="index.html">Welcome</a></li>
                        <!-- <li class="submenu">
                            <a href="">Layouts</a>
                            <ul>
                                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="no-sidebar.html">No Sidebar</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="submenu">
                                    <a href="">Submenu</a>
                                    <ul>
                                        <li><a href="#">Dolore Sed</a></li>
                                        <li><a href="#">Consequat</a></li>
                                        <li><a href="#">Lorem Magna</a></li>
                                        <li><a href="#">Sed Magna</a></li>
                                        <li><a href="#">Ipsum Nisl</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
                        <li><a href="./index.html" class="button special">Log out</a></li>
                    </ul>
                </nav>
            </header>

        <div class="container" id="receiptContainer" style="margin-top: 65px;">
            <div id="sorts" class="btn-group">  
        <button class="btn btn-default active" data-sort-by="original-order">Date</button>
          <!-- <button class="btn btn-default" data-sort-by="merchant">Merchant</button> -->
          <button class="btn btn-default" data-sort-by="total">Price</button>
          <!-- <button class="btn btn-default" data-sort-by="cardType">Card Type</button> -->
        </div>
        <button id="receiptSortType" class="btn btn-primary" style="float:right; margin-right:40px"><span class="glyphicon glyphicon-chevron-up">Ascending Order</span></button>
        

            <div id="items" class="isotope" style="clear: both" row="">
            <script type="text/template" id="receiptTemplate">
                <div class="element-item" row="<%- receipt_id %>">
                <div class="editNav">
                  <div class="border"></div>
                  <div class="inner"></div>
                </div>
              
                  <div class="item-content" style="padding-top: 0px">
                    <div class="description">
                      <h3 class="merchant"><%- Merchant %></h3>
                        <% _.each(Items, function(item) { %>
                            <div id="itemized_pin"><span style=""><%- item.title %>:</span> <span style="float:right"> &#36;<%- twoDigit(item.price) %></span></div>
                        <% }) %>
                        Total Price: <p class="total" style="float:right;display: inline;"><%- twoDigit(Total) %></p>

                    </div>

                    <div class="meta">
                        <i class="glyphicon glyphicon-calendar"></i> <span class="date" style="font-size: 16px"><%- timestamp %></span>
                        <br>
                        <i class="glyphicon glyphicon-user"></i>  
                        <br>



                    </div>
                  </div>
              </div>
            </script>
            </div>
        </div>




    <!-- HOME --> 
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./js/jquery-ui-1.10.4.js"></script>
    <script src="./js/jquery.ajax.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.masonry.min.js"></script>
    <script src="./js/packery.pkgd.min.js"></script>
    <script src="./js/move_receipts.js"></script>
    <script src="./js/jquery.isotope.min.js"></script>

<!-- Receipt Modal -->
<div class="modal fade bs-example-modal-sm" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptModalLabel" aria-hidden="true" style="margin-top: 65px;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="fakeReceipt">
          <div id="merchant">
          </div>
          <div id="address">
          </div>
          <div id="date">
          </div>
          <div id="itemized">
          </div>
          <div id="subtotal">
          </div>
          <div id="tax">
          </div>
          <div id="total">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>